*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #000;
    padding: 20px 80px;
    border-bottom: solid 3px #D10024;
    display: flex;
    justify-content: space-between; /*distribuição horizontal*/
    align-items: center; /*alinhamento vertical*/
}

.bt-cart{
    text-decoration: none; /*remover sublinhado*/
    color: #FFF;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.bt-cart b{
  background-color: #D10024;
  border-radius: 50%;
  padding: 2px 6px;
}

.campo-a{
    background-color: #FFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 30px;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    color: #7b7b7b;
    border: solid 1px #ccc;
}

.campo-b{
    background-color: #FFF;
    height: 30px;
    width: 220px;
    padding: 5px 10px;
    color: #7b7b7b;
    border: solid 1px #ccc;
    box-sizing: border-box;
    margin-left: -1px;
}

.campo-c{
    background-color: #D10024;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    width: 80px;
    padding: 5px 10px;
    text-align: center;
    color: #FFF;
    border: solid 1px transparent;
    font-weight: 600;
}

a i{
    display: block;
    font-size: 20px;
}